In [30]:
import pandas as pd

In [31]:
df1 = pd.read_csv('../data/15-16.csv')
df2 = pd.read_csv('../data/16-17.csv')
df3 = pd.read_csv('../data/17-18.csv')
df4 = pd.read_csv('../data/18-19.csv')
df5 = pd.read_csv('../data/19-20.csv')

In [46]:
df_list = [df1, df2, df3, df4, df5]

rows = 0
for i in df_list:
    rows += len(i)
    
print("Total number of rows = {}".format(rows))

Total number of rows = 1808

In [32]:
for i in df_list:
    print("columns = {}".format(i.columns))

columns = Index(['Date', 'Team 1', 'FT', 'HT', 'Team 2'], dtype='object')
columns = Index(['Date', 'Team 1', 'FT', 'HT', 'Team 2'], dtype='object')
columns = Index(['Date', 'Team 1', 'FT', 'HT', 'Team 2'], dtype='object')
columns = Index(['Date', 'Team 1', 'FT', 'HT', 'Team 2'], dtype='object')
columns = Index(['Date', 'Team 1', 'FT', 'HT', 'Team 2'], dtype='object')

In [33]:
df1.head()

             Date       Team 1   FT   HT       Team 2
0  Sat Aug 8 2015  Bournemouth  0-1  0-0  Aston Villa
1  Sat Aug 8 2015      Chelsea  2-2  2-1      Swansea
2  Sat Aug 8 2015      Everton  2-2  0-1      Watford
3  Sat Aug 8 2015    Leicester  4-2  3-0   Sunderland
4  Sat Aug 8 2015   Man United  1-0  1-0    Tottenham

In [34]:
df_concat = pd.concat(df_list)

In [35]:
df_concat

               Date       Team 1   FT   HT       Team 2
0    Sat Aug 8 2015  Bournemouth  0-1  0-0  Aston Villa
1    Sat Aug 8 2015      Chelsea  2-2  2-1      Swansea
2    Sat Aug 8 2015      Everton  2-2  0-1      Watford
3    Sat Aug 8 2015    Leicester  4-2  3-0   Sunderland
4    Sat Aug 8 2015   Man United  1-0  1-0    Tottenham
..              ...          ...  ...  ...          ...
283  Sat Mar 7 2020       Wolves  0-0  0-0     Brighton
284  Sat Mar 7 2020      Burnley  1-1  1-0    Tottenham
285  Sun Mar 8 2020      Chelsea  4-0  2-0      Everton
286  Sun Mar 8 2020   Man United  2-0  1-0     Man City
287  Mon Mar 9 2020    Leicester  4-0  1-0  Aston Villa

[1808 rows x 5 columns]

In [36]:
df_concat = df_concat.rename(columns={'Date': 'date', 'Team 1': 'home_team', 'FT': 'ft_score', 'HT': 'ht_score', 'Team 2': 'away_team'})

In [37]:
df_concat

               date    home_team ft_score ht_score    away_team
0    Sat Aug 8 2015  Bournemouth      0-1      0-0  Aston Villa
1    Sat Aug 8 2015      Chelsea      2-2      2-1      Swansea
2    Sat Aug 8 2015      Everton      2-2      0-1      Watford
3    Sat Aug 8 2015    Leicester      4-2      3-0   Sunderland
4    Sat Aug 8 2015   Man United      1-0      1-0    Tottenham
..              ...          ...      ...      ...          ...
283  Sat Mar 7 2020       Wolves      0-0      0-0     Brighton
284  Sat Mar 7 2020      Burnley      1-1      1-0    Tottenham
285  Sun Mar 8 2020      Chelsea      4-0      2-0      Everton
286  Sun Mar 8 2020   Man United      2-0      1-0     Man City
287  Mon Mar 9 2020    Leicester      4-0      1-0  Aston Villa

[1808 rows x 5 columns]

In [38]:
df_concat.isnull().sum()

date         0
home_team    0
ft_score     0
ht_score     0
away_team    0
dtype: int64

In [39]:
df_concat.shape

(1808, 5)

In [40]:
df_concat.to_csv('../data/clean_data.csv', index=False)