In [57]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set_style("ticks")

In [3]:
df = pd.read_csv('../data/feature_eng_data.csv')

In [4]:
df.head()

,date,home_team,away_team,ht_score,ft_score,firsthalf_home_goals,firsthalf_away_goals,secondhalf_home_goals,secondhalf_away_goals,total_home_goals,total_away_goals,firsthalf_result,secondhalf_result,result
0,Sat Aug 8 2015,Bournemouth,Aston Villa,0-0,0-1,0,0,0,1,0,1,Draw,Aston Villa,Aston Villa
1,Sat Aug 8 2015,Chelsea,Swansea,2-1,2-2,2,1,0,1,2,2,Chelsea,Swansea,Draw
2,Sat Aug 8 2015,Everton,Watford,0-1,2-2,0,1,2,1,2,2,Watford,Everton,Draw
3,Sat Aug 8 2015,Leicester,Sunderland,3-0,4-2,3,0,1,2,4,2,Leicester,Sunderland,Leicester
4,Sat Aug 8 2015,Man United,Tottenham,1-0,1-0,1,0,0,0,1,0,Man United,Draw,Man United

In [6]:
df['home_team'].value_counts()

Man United          91
Liverpool           91
Southampton         91
Arsenal             91
Crystal Palace      91
Chelsea             91
Leicester           91
Everton             90
Tottenham           90
Bournemouth         90
West Ham            90
Watford             90
Man City            89
Burnley             72
Newcastle           71
Stoke               57
West Brom           57
Swansea             57
Brighton            52
Sunderland          38
Huddersfield        38
Wolves              34
Norwich             33
Aston Villa         32
Cardiff             19
Fulham              19
Middlesbrough       19
Hull                19
Sheffield United    15
Name: home_team, dtype: int64

In [7]:
df['away_team'].value_counts()

West Ham            91
Watford             91
Bournemouth         91
Everton             91
Tottenham           91
Man City            91
Man United          90
Chelsea             90
Leicester           90
Crystal Palace      90
Southampton         90
Liverpool           90
Arsenal             89
Newcastle           72
Burnley             71
Swansea             57
Stoke               57
West Brom           57
Brighton            53
Sunderland          38
Huddersfield        38
Aston Villa         34
Norwich             34
Wolves              33
Cardiff             19
Fulham              19
Middlesbrough       19
Hull                19
Sheffield United    13
Name: away_team, dtype: int64

#### Things to analyse

- most goals scored total/first half/second half
- most goals per game
- most goals conceded total/first half/second half
- most conceded per game
- most games won home/away (%)
- most games lost home/away (%)
- most draws home/away (%)
- most clean sheets home/away (%)
- most half combacks home/away
- most half upsets home/away

In [29]:
goals_cols = ['home_team', 'away_team', 'total_home_goals', 'total_away_goals']
df_goals = df[(goals_cols)]

In [35]:
df_goals1 = df[(['home_team', 'total_home_goals'])]
df_goals2 = df[(['away_team', 'total_away_goals'])]

df_goals1 = df_goals1.rename(columns={'home_team': 'team', 'total_home_goals': 'goals'})
df_goals2 = df_goals2.rename(columns={'away_team': 'team', 'total_away_goals': 'goals'})

In [38]:
df_goals_new = pd.concat([df_goals1, df_goals2])

In [60]:
group1 = df_goals_new.groupby('team')
group_1 = group1.aggregate(np.sum)

In [63]:
group_1

                  goals
team
Arsenal             329
Aston Villa          61
Bournemouth         230
Brighton            101
Burnley             154
Cardiff              34
Chelsea             320
Crystal Palace      211
Everton             256
Fulham               34
Huddersfield         50
Hull                 37
Leicester           281
Liverpool           380
Man City            420
Man United          280
Middlesbrough        27
Newcastle           150
Norwich              64
Sheffield United     30
Southampton         217
Stoke               117
Sunderland           77
Swansea             115
Tottenham           343
Watford             203
West Brom           108
West Ham            247
Wolves               88